* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo fofo para a Tela de Login */
body {
  background-color: #ffe6ff;
  font-family: 'Arial', sans-serif;
  position: relative;
  height: 100vh;
}

.container {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #ff66b2;
}

.input {
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #ff66b2;
}

button {
  background-color: #ff66b2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}